body{
    margin: 0;
    background-color: #056679;
    font-family: sans-serif;
}
.todo_container{
    width: 350px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}
h1{
    margin: 0px;
    margin-bottom: 15px;
    color: #0c7588;
}
.input_section{
    background-color: #055565;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 7px 6px #0000003b;
}
.input_section input{
    border-radius: 5px;
    border: solid 1px #106879;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #055565;
    outline: none;
    color: #08869e;
}
input::placeholder{
    color: #08869e;
}
ul{
    text-align: left;
    padding: 0px;
}
ul li{
    display: flex;
    list-style: none;
    background-color: #055565;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #08869e;
    box-shadow: 0 4px 6px #00000066;

}
ul li i {
    text-align: right;
    flex: 1;
    cursor: pointer;
}
